In [34]:
import requests
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
print('Libraries imported')

Libraries imported

In [35]:
DF = pd.read_csv("District to SalesF Uber Moves master list (1).csv",)
display(DF.shape)
DF.head()

(35, 9)

,Unnamed: 0,District,AM Peak,Midday,PM Peak,Evening,Early Morning,Unnamed: 7,Unnamed: 8
0,Castro/Upper Market,0,1669,1347,1499,1178,1052,NaN,NaN
1,Bernal Heights,1,1801,1205,1287,957,948,NaN,Took data from Mission for PM Peak/Evening
2,Bayview Heights,2,1981,1399,1682,1127,1068,NaN,NaN
3,Chinatown,3,562,526,675,455,379,NaN,NaN
4,Financial District/South Beach,4,286,350,434,257,189,NaN,NaN

In [36]:
SimpleDF=DF[[ 'District', 'AM Peak', 'Midday', 'PM Peak', 'Evening', 'Early Morning']]

SimpleDF.head()
# The first column is the district no.

   District  AM Peak  Midday  PM Peak  Evening  Early Morning
0         0     1669    1347     1499     1178           1052
1         1     1801    1205     1287      957            948
2         2     1981    1399     1682     1127           1068
3         3      562     526      675      455            379
4         4      286     350      434      257            189

In [37]:
DG = pd.read_csv("Salesforce to District Uber Moves master list (1).csv",)
display(DG.shape)
DG.head()

(35, 9)

,Unnamed: 0,District,AM Peak,Midday,PM Peak,Evening,Early Morning,Unnamed: 7,Unnamed: 8
0,Castro/Upper Market,0,1284,1284,1784,1259,989,NaN,Took data from mission for AM Peak from Midday
1,Bernal Heights,1,1168,1168,1513,923,939,NaN,Took data from mission for AM Peak from Midday
2,Bayview Heights,2,1437,1437,1779,1178,888,NaN,Took data from mission for AM Peak from Midday
3,Chinatown,3,506,472,574,408,320,NaN,NaN
4,Financial District/South Beach,4,189,207,281,193,147,NaN,NaN

In [38]:
SimpleDG = DG[['District', 'AM Peak', 'Midday', 'PM Peak', 'Evening', 'Early Morning']].copy()
SimpleDG.head()

   District  AM Peak  Midday  PM Peak  Evening  Early Morning
0         0     1284    1284     1784     1259            989
1         1     1168    1168     1513      923            939
2         2     1437    1437     1779     1178            888
3         3      506     472      574      408            320
4         4      189     207      281      193            147

In [39]:
SimpleDG['EtoM']= SimpleDF['Early Morning'] + SimpleDG['Midday']
SimpleDG['AtoM']= SimpleDF['AM Peak'] + SimpleDG['Midday']
SimpleDG['MtoP']= SimpleDF['Midday'] + SimpleDG['PM Peak']
SimpleDG['MtoN']= SimpleDF['Midday'] + SimpleDG['Evening']
SimpleDG['NtoN']= SimpleDF['Evening']+ SimpleDG['Evening']
SimpleDG['MtoM']= SimpleDF['Midday'] + SimpleDG['Midday']
SimpleDG['PtoN']= SimpleDF['PM Peak'] + SimpleDG['Evening']
SimpleDG['EtoA']= SimpleDF['Early Morning'] + SimpleDG['AM Peak']
SimpleDG.head()

,District,AM Peak,Midday,PM Peak,Evening,Early Morning,EtoM,AtoM,MtoP,MtoN,NtoN,MtoM,PtoN,EtoA
0,0,1284,1284,1784,1259,989,2336,2953,3131,2606,2437,2631,2758,2336
1,1,1168,1168,1513,923,939,2116,2969,2718,2128,1880,2373,2210,2116
2,2,1437,1437,1779,1178,888,2505,3418,3178,2577,2305,2836,2860,2505
3,3,506,472,574,408,320,851,1034,1100,934,863,998,1083,885
4,4,189,207,281,193,147,396,493,631,543,450,557,627,378

In [40]:
dJ= SimpleDG[['District', 'EtoM', 'AtoM', 'MtoP', 'MtoN', 'NtoN','MtoM','PtoN','EtoA']].copy()
dJ
DiffMax=[]

for i in range(0,35):
    z= min(dJ.loc[i,'EtoM'],dJ.loc[i,'NtoN'])
    w= max(dJ.loc[i,'AtoM'],dJ.loc[i,'MtoP'],dJ.loc[i,'MtoN'])
    u=w-z
    DiffMax.append(u)
    
DIFFMAX=pd.Series(DiffMax)

dJ['DIFFMAX']= DIFFMAX
dJD = dJ.sort_values(by=['DIFFMAX'])
EAMMN_MMPNN = dJD.copy()
EAMMN_MMPNN.head()

    District  EtoM  AtoM  MtoP  MtoN  NtoN  MtoM  PtoN  EtoA  DIFFMAX
4          4   396   493   631   543   450   557   627   378      235
3          3   851  1034  1100   934   863   998  1083   885      249
29        29  1127  1394  1326  1116  1090  1216  1221  1306      304
19        19  1474  1704  1692  1460  1347  1571  1640  1502      357
31        31   849  1106   992   800   723   944  1038   657      383

In [41]:
DiffMax=[]

for i in range(0,35):
    z= min(dJ.loc[i,'EtoA'],dJ.loc[i,'NtoN'])
    w= max(dJ.loc[i,'AtoM'],dJ.loc[i,'MtoM'], dJ.loc[i,'MtoN'])
    u=w-z
    DiffMax.append(u)
    
DIFFMAX=pd.Series(DiffMax)
dJ1=SimpleDG[['District', 'EtoA', 'AtoM', 'MtoM', 'MtoN','NtoN']].copy()
dJ1['DIFFMAX']= DIFFMAX
EAMMN_AMMNN = dJ1.sort_values(by=['DIFFMAX'])
EAMMN_AMMNN.head()

    District  EtoA  AtoM  MtoM  MtoN  NtoN  DIFFMAX
3          3   885  1034   998   934   863      171
4          4   378   493   557   543   450      179
29        29  1306  1394  1216  1116  1090      304
11        11  1822  2097  2020  1927  1748      349
19        19  1502  1704  1571  1460  1347      357

In [43]:
DiffMtoP=[]

for i in range(0,35):
    z= min(dJ.loc[i,'EtoM'],dJ.loc[i,'NtoN'])
    w=dJ.loc[i,'MtoP']-z
    DiffMtoP.append(w)
    
DIFFMtoP=pd.Series(DiffMtoP)
dJ2=SimpleDG[['District', 'EtoM', 'MtoM', 'MtoP', 'PtoN','NtoN']].copy()
dJ2['DIFFMtoP']= DIFFMtoP
dJD2= dJ2.sort_values(by=['DIFFMtoP'])
EMMPN_MMPNN = dJD2.copy()
EMMPN_MMPNN.head()

    District  EtoM  MtoM  MtoP  PtoN  NtoN  DIFFMtoP
4          4   396   557   631   627   450       235
29        29  1127  1216  1326  1221  1090       236
3          3   851   998  1100  1083   863       249
31        31   849   944   992  1038   723       269
19        19  1474  1571  1692  1640  1347       345

In [44]:
DIFFMtoP=[]

for i in range(0,35):
    z= min(dJ.loc[i,'EtoA'],dJ.loc[i,'NtoN'])
    w=dJ.loc[i,'MtoP']-z
    DIFFMtoP.append(w)
    
DIFFMtoP=pd.Series(DIFFMtoP)
dJ2=SimpleDG[['District', 'EtoA', 'MtoM', 'MtoP', 'PtoN','NtoN']].copy()
dJ2['DIFFMtoP']= DIFFMtoP
dJD2= dJ2.sort_values(by=['DIFFMtoP'])
EMMPN_AMPNN = dJD2.copy()
EMMPN_AMPNN.head()

    District  EtoA  MtoM  MtoP  PtoN  NtoN  DIFFMtoP
29        29  1306  1216  1326  1221  1090       236
3          3   885   998  1100  1083   863       237
4          4   378   557   631   627   450       253
31        31   657   944   992  1038   723       335
19        19  1502  1571  1692  1640  1347       345

In [45]:
 def g(frac,dJD,TotalNumWorkers):
        
        i=0
        b=0
        d=0
        count=0
        while count< frac*TotalNumWorkers and i in range(0,34):
            j= len(dJD)-1-i
            newcount= dJD.iloc[j,0]
            count= newcount + count
            if count> frac*TotalNumWorkers:
                    d= count-frac*TotalNumWorkers
                    b= dJD.iloc[j,0]-d

            i = i + 1
    
        return j,b,d

      


def eammn_mmpnn(WorkerDistrictID):
    
    
    Remainder = len(WorkerDistrictID) % 5
    TotalNumWorkers = len(WorkerDistrictID) - Remainder
    
    np.random.seed(10)
    neighborhood_List = np.random.choice(WorkerDistrictID, len(WorkerDistrictID), replace=False)
    
    
    Neighborhoodlist = neighborhood_List[0:TotalNumWorkers]
    #np.array(Neighborhoodlist)

    
    

    NeighborhoodSeries = pd.Series(Neighborhoodlist)
    dJD=EAMMN_MMPNN.copy()
    dJD.insert(0,'NumWorkers', NeighborhoodSeries.value_counts())
    dJD=dJD.fillna(0)
    
    
    #We will first fill up the three shifts of EAMMN_MMPNN having the lowest total commute time, EM, NN, MN, with workers from
    #districts that take the greatest values during these shifts, i.e. districts with the greatest values of DIFFMAX. That is,
    #we will count out starting from the bottom of EAMMN_MMPNN, 3/5*TotalNumWorkers who we will assign to EM, NN, MN, in the 
    # manner indicated below.
  
    
    j,b,d = g(3/5,dJD,TotalNumWorkers)
    
    
    
    #In counting 3/5*TotalNumWorkers workers starting from the bottom of EAMMN_MMPNN and working upwards, sometimes the number 
    #3/5*TotalNumWorkers may include some of the workers in the last district counted but not all of the workers in that district.
    #So that some of the workers in the last district considered are in the 3/5*TotalNumWorkers and therefore to be assigned
    #to EM, NN or MN, and the remainder of workers in that district will be assigned to the other two shifts.
    # 'b' denotes the number of workers in that last district that are counted in 3/5*TotalNumWorkers, and 'd' denotes the 
    # number of workers remaining in that last district that are not counted in 3/5*TotalNumWorkers. 'b+d' is the sum of the 
    # workers in that last district reached in counting 3/5*TotalNumWorkers.
    # The data frame EAMMN_MMPNN is broken up into two data frames: Low3 contains the 3/5*TotalNumWorkers workers who will be 
    # assigned shifts EM, NN, and MN; uppdJD wil contain the 2/5*TotalNumWorkers left which will include the d workers descrribed
    # above.
    
    Low3= dJD[j:35].copy()
    
    
    if b>0:
        Low3.iloc[0,0]=b
    
    uppdJD= dJD[0:j+1]
    uppdJD= uppdJD.copy()
   
    
    if d>0:
        uppdJD.iloc[j,0]= d
    else:
        uppdJD.iloc[j,0]=0

    
    #Filling up shifts EM and NN, which have the lowest commute values first, from the 3/5*TotalNumWorkers workers.
    # We first assign each district to the shift, EM or NN, for which it has the lower commute value. This often results in too 
    # many, i.e. more than 1/5*TotalNumWorkers being assigned to one o the two shifts and then some of those extra workers need
    # to be redistributed either to the other shift if it has been filled with fewer than 1/5*TotalNumWorkers or to MN.

    
    EM={}
    NN={}
    for i in range(0,len(Low3)):
        a=Low3.iloc[i,1]
        b=Low3.iloc[i,0]
        if Low3.iloc[i,2]<Low3.iloc[i,4]:
            EM[a]=b
            
        else:
            NN[a]=b
        i = i + 1
        
    DiffEMandMN= Low3['MtoN']-Low3['EtoM']
   
  

    MN={}
    EMnearMN=DiffEMandMN[list(EM.keys())].sort_values()

   
    y=sum(EM.values())-1/5*TotalNumWorkers
    for i in range(0,len(EMnearMN)):
        x=EMnearMN.index[i]
        z=EM[x]
        w=y-z
        if w<0:

            EM[x]=z-y
            MN[x]=y
            break
        else:
            y=y-z
            MN[x]=z
            del EM[x]
    DiffNNandMN= Low3['MtoN']-Low3['NtoN']
   
  

    ADDtoMN={}
    NNnearMN=DiffNNandMN[list(NN.keys())].sort_values()

    
    y=sum(NN.values())-1/5*TotalNumWorkers
    for i in range(0,len(NNnearMN)):
        x=NNnearMN.index[i]
        z=NN[x]
        w=y-z
        if w<0:

            NN[x]=z-y
            ADDtoMN[x]=y
            break
        else:
            y=y-z
            ADDtoMN[x]=z
            del NN[x]
   
    MN.update(ADDtoMN)
    
    neighborhood_List[TotalNumWorkers:]
    
    for i in neighborhood_List[TotalNumWorkers:]:
        if i in NN.keys():
            NN[i] = NN[i] + 1
        else:
            NN[i] = 1
    
    
    
    

    r= 1/5*TotalNumWorkers-sum(MN.values())
   
    for i in range(1,int(r)):
        
        b=dJD.iloc[len(NNnearMN)-i,0]
        a=dJD.iloc[len(NNnearMN)-i,1]
        if b>=r:
            MN[a]=r

            break
        else:
            MN[a]=b
            r= r-b

    #Having filled up EM, NN, and MN with the workers of Low3 we now turn to the uppdJD to fill out slots AM and MP. 
    
    AM={}
    MP={}
    for i in range(0,j+1):
        a=uppdJD.iloc[i,1]
        b=uppdJD.iloc[i,0]
        if uppdJD.iloc[i,3]< uppdJD.iloc[i,4]:
            AM[a]=b
        else:
            MP[a]=b

    DiffAMandMP= uppdJD['AtoM']-uppdJD['MtoP']
    AMnearMP= DiffAMandMP[list(MP.keys())].sort_values()

    DiffMPandAM= uppdJD['MtoP']- uppdJD['AtoM']
    MPnearAM=DiffMPandAM[list(AM.keys())].sort_values()

    s= sum(MP.values())-sum(AM.values())
    i=0
    
    while s!=0:
        if s>0:
            t= sum(MP.values())-1/5*TotalNumWorkers
            z= MP[AMnearMP.index[i]]
            if z>t:
                AM[AMnearMP.index[i]]=t
                MP[AMnearMP.index[i]]=z-t
                s= s-2*t
            else:
                AM[AMnearMP.index[i]]=z
                del MP[AMnearMP.index[i]]
                s= s-2*z 
        elif s<0:
            t= sum(AM.values())-1/5*TotalNumWorkers
            z= AM[MPnearAM.index[i]]
            if z>t:
                MP[MPnearAM.index[i]]=t
                AM[MPnearAM.index[i]]=z-t
                s= s+ 2*t
            else:
                MP[MPnearAM.index[i]]=z
                del AM[MPnearAM.index[i]]
                s= s +2*z
        i = i + 1

    # Having placed all the workers into the 5 slots we now compute the Total Commute Time for the workforce.
    # First we compute the total commute time for the workers in shift AM.

    TotCommAM=[]
    for i in AM.keys():
        w=dJD.loc[i,"AtoM"]
        y=AM[i]
        m= y*w
        TotCommAM.append(m)


    SumAM=sum(TotCommAM)

    # We compute the total commte time for the workers in shift MP, then MN, then EM and then NN.

    TotCommMP=[]

    for i in MP.keys():
        w=dJD.loc[i,"MtoP"]
        y=MP[i]
        m=y*w
        TotCommMP.append(m)


    SumMP=sum(TotCommMP)

    TotCommMN=[]
    for i in MN.keys():
        w=dJD.loc[i,"MtoN"]
        y=MN[i]
        m= y*w
        TotCommMN.append(m)


    SumMN=sum(TotCommMN)


    TotCommEM=[]
    for i in EM.keys():
        w=dJD.loc[i,"EtoM"]
        y=EM[i]
        m= y*w
        TotCommEM.append(m)


    SumEM=sum(TotCommEM)


    TotCommNN=[]
    for i in NN.keys():
        w=dJD.loc[i,"NtoN"]
        y=NN[i]
        m= y*w
        TotCommNN.append(m)


    SumNN=sum(TotCommNN)

    SumEAMMN_MMPNN = SumEM + SumAM + SumMP + SumMN + SumNN
    
    
    
    return SumEAMMN_MMPNN, EM, AM, MP, 0, 0, MN, NN, 0,0,0 


def eammn_ammnn(WorkerDistrictID):
    
    
    Remainder = len(WorkerDistrictID) % 5
    TotalNumWorkers = len(WorkerDistrictID) - Remainder
    
    np.random.seed(10)
    neighborhood_List = np.random.choice(WorkerDistrictID, len(WorkerDistrictID), replace=False)
    
    
    Neighborhoodlist = neighborhood_List[0:TotalNumWorkers]
    

    
    

    NeighborhoodSeries = pd.Series(Neighborhoodlist)
    dJD=EAMMN_AMMNN.copy()
    dJD.insert(0,'NumWorkers', NeighborhoodSeries.value_counts())
    dJD=dJD.fillna(0)
    
    
    #Comments
    
    j,b,d = g(3/5,dJD,TotalNumWorkers)
    
    
    
    
    #In comments explain what b and d are.
    
    Low3= dJD[j:35].copy()
    
    
    if b>0:
        Low3.iloc[0,0]=b
    
    uppdJD= dJD[0:j+1]
    uppdJD= uppdJD.copy()
   
    
    if d>0:
        uppdJD.iloc[j,0]= d
    else:
        uppdJD.iloc[j,0]=0

    
    EA={}
    NN={}
    for i in range(0,len(Low3)):
        a=Low3.iloc[i,1]
        b=Low3.iloc[i,0]
        if Low3.iloc[i,2]<Low3.iloc[i,4]:
            EA[a]=b
            
        else:
            NN[a]=b
        i = i + 1
        
    DiffEAandMN= Low3['MtoN']-Low3['EtoA']
    
   
  

    MN={}
    EAnearMN=DiffEAandMN[list(EA.keys())].sort_values()
    

   
    y=sum(EA.values())-1/5*TotalNumWorkers
    for i in range(0,len(EAnearMN)):
        x=EAnearMN.index[i]
        z=EA[x]
        w=y-z
        if w<0:

            EA[x]=z-y
            MN[x]=y
            break
        else:
            y=y-z
            MN[x]=z
            del EA[x]
    DiffNNandMN= Low3['MtoN']-Low3['NtoN']
   
  

    ADDtoMN={}
    NNnearMN=DiffNNandMN[list(NN.keys())].sort_values()

    
    y=sum(NN.values())-1/5*TotalNumWorkers
    for i in range(0,len(NNnearMN)):
        x=NNnearMN.index[i]
        z=NN[x]
        w=y-z
        if w<0:

            NN[x]=z-y
            ADDtoMN[x]=y
            break
        else:
            y=y-z
            ADDtoMN[x]=z
            del NN[x]
   
    MN.update(ADDtoMN)
    
    neighborhood_List[TotalNumWorkers:]
    
    for i in neighborhood_List[TotalNumWorkers:]:
        if i in NN.keys():
            NN[i] = NN[i] + 1
        else:
            NN[i] = 1
    
    
    
    

    r= 1/5*TotalNumWorkers-sum(MN.values())
   
    for i in range(1,int(r)):
        
        b=dJD.iloc[len(NNnearMN)-i,0]
        a=dJD.iloc[len(NNnearMN)-i,1]
        if b>=r:
            MN[a]=r

            break
        else:
            MN[a]=b
            r= r-b

    # Having filled up EM, NN, and MN with workers we now turn to the uppdJD to fill out slots AM and MP.      
    AM={}
    MM={}
    for i in range(0,j+1):
        a=uppdJD.iloc[i,1]
        b=uppdJD.iloc[i,0]
        if uppdJD.iloc[i,3]< uppdJD.iloc[i,4]:
            AM[a]=b
        else:
            MM[a]=b

    DiffAMandMM= uppdJD['AtoM']-uppdJD['MtoM']
    AMnearMM= DiffAMandMM[list(MM.keys())].sort_values()

    DiffMMandAM= uppdJD['MtoM']- uppdJD['AtoM']
    MMnearAM=DiffMMandAM[list(AM.keys())].sort_values()

    s= sum(MM.values())-sum(AM.values())
    i=0
    
    while s!=0:
        if s>0:
            t= sum(MM.values())-1/5*TotalNumWorkers
            z= MM[AMnearMM.index[i]]
            if z>t:
                AM[AMnearMM.index[i]]=t
                MM[AMnearMM.index[i]]=z-t
                s= s-2*t
            else:
                AM[AMnearMM.index[i]]=z
                del MM[AMnearMM.index[i]]
                s= s-2*z 
        elif s<0:
            t= sum(AM.values())-1/5*TotalNumWorkers
            z= AM[MMnearAM.index[i]]
            if z>t:
                MM[MMnearAM.index[i]]=t
                AM[MMnearAM.index[i]]=z-t
                s= s+ 2*t
            else:
                MM[MMnearAM.index[i]]=z
                del AM[MMnearAM.index[i]]
                s= s +2*z
        i = i + 1

    # Having placed all the workers into the 5 slots we now compute the Total Commute Time for the workforce.
    # First we compute the total commute time for the workers in shift AM

    TotCommAM=[]
    for i in AM.keys():
        w=dJD.loc[i,"AtoM"]
        y=AM[i]
        m= y*w
        TotCommAM.append(m)


    SumAM=sum(TotCommAM)

    # We compute the total commte time for the workers in shift MP

    TotCommMM=[]

    for i in MM.keys():
        w=dJD.loc[i,"MtoM"]
        y=MM[i]
        m=y*w
        TotCommMM.append(m)


    SumMM=sum(TotCommMM)

    TotCommMN=[]
    for i in MN.keys():
        w=dJD.loc[i,"MtoN"]
        y=MN[i]
        m= y*w
        TotCommMN.append(m)


    SumMN=sum(TotCommMN)


    TotCommEA=[]
    for i in EA.keys():
        w=dJD.loc[i,"EtoA"]
        y=EA[i]
        m= y*w
        TotCommEA.append(m)


    SumEA=sum(TotCommEA)


    TotCommNN=[]
    for i in NN.keys():
        w=dJD.loc[i,"NtoN"]
        y=NN[i]
        m= y*w
        TotCommNN.append(m)


    SumNN=sum(TotCommNN)

    SumEAMMN_AMMNN = SumEA + SumAM + SumMM + SumMN + SumNN
    return SumEAMMN_AMMNN, 0, AM, 0, 0, MN, NN, EA,MM,0







def emmpn_mmpnn(WorkerDistrictID):
    
    Remainder = len(WorkerDistrictID) % 5
    TotalNumWorkers = len(WorkerDistrictID) - Remainder
    
    np.random.choice(WorkerDistrictID, len(WorkerDistrictID), replace=False)
    
    np.random.seed(10)
    neighborhood_List = np.random.choice(WorkerDistrictID, len(WorkerDistrictID), replace=False)
    
    
    Neighborhoodlist = neighborhood_List[0:TotalNumWorkers]
    

    
    
    NeighborhoodSeries = pd.Series(Neighborhoodlist)
    dJD = EMMPN_MMPNN.copy()
    dJD.insert(0,'NumWorkers', NeighborhoodSeries.value_counts())
    dJD=dJD.fillna(0)
    
    
    #We will first fill up the two shifts of EMMPN_MMPNN that have the lowest total commute time, EM and NN, with workers
    #in the districts that take the greatest values during these shifts, i.e. districts with the greatest values of DIFFMAX.
    #That is, we will count out starting from the bottom of EMMPN_MMPNN, 2/5*TotalNumWorkers who we will assign to EM and NN 
    #in the manner indicated below.


    j,b,d = g(2/5,dJD,TotalNumWorkers)
    
    #In counting 2/5*TotalNumWorkers workers starting from the bottom of EMMPN_MMPNN and working upwards, sometimes the number 
    #2/5*TotalNumWorkers may include some of the workers in the last district counted but not all of the workers in that district.
    #So that some of the workers in the last district considered are in the 2/5*TotalNumWorkers and therefore to be assigned
    #to EM or NN and the remainder of workers in that district will be assigned to the other three shifts.
    # 'b' denotes the number of workers in that last district that are counted in 2/5*TotalNumWorkers, and 'd' denotes the 
    # number of workers remaining in that last district that are not counted in 2/5*TotalNumWorkers. 'b+d' is the sum of the 
    # workers in that last district reached in counting 2/5*TotalNumWorkers.
    # The data frame EMMPN_MMPNN is broken up into two data frames: Low2 contains the 2/5*TotalNumWorkers workers who will be 
    # assigned shifts EM and NN; uppdJD wil contain the 3/5*TotalNumWorkers left which will include the d workers descrribed
    # above.
    

    



    ddJD= dJD[j:35]
    ddJD.copy()
    
    
    Low2= ddJD[['NumWorkers','District', 'EtoM', 'NtoN', 'DIFFMtoP']]
    Low2=Low2.copy()
    
    
    if b>0:
        Low2.iloc[0,0]= b
    else:
        Low2.iloc[0,0]=dJD.iloc[j,0]



    uppdJD= dJD[0:j+1]
    uppdJD=uppdJD.copy()
    

    uppdJD.iloc[j,0]= d

    NN={}
    EM={}

    for i in range(0,len(Low2)):
        a=Low2.iloc[i,1]
        b=Low2.iloc[i,0]
        if Low2.iloc[i,2]<Low2.iloc[i,3]:
            EM[a]=b

        else: 
            NN[a]=b


        i = i + 1
    
    DiffNtoNEtoM= Low2['NtoN']-Low2['EtoM']
    DiffNtoNEtoM[list(EM.keys())].sort_values()

    DiffEtoMNtoN= Low2['EtoM']-Low2['NtoN']
    DiffEtoMNtoN[list(NN.keys())].sort_values()

    EMnearNN=DiffEtoMNtoN[list(NN.keys())].sort_values()
    NNnearEM=DiffNtoNEtoM[list(EM.keys())].sort_values()
    

    r= 1/5*TotalNumWorkers-sum(EM.values())
    y= sum(NN.values())-1/5*TotalNumWorkers
    if r>0 and y>0:

        for i in range(0,len(EMnearNN)):
            x=EMnearNN.index[i]
            z=NN[x]
            w=y-z
            if w<0:

                NN[x]=z-y
                EM[x]=y
                break
            else:
                y=y-z
                EM[x]=z
                del NN[x]

    elif r<0 and y<0:
        t=-y
        for i in range(0,len(NNnearEM)):
            x=NNnearEM.index[i]
            z= EM[x]
            w= t-z
            if w<0:

                EM[x]=z-t
                NN[x]=t
                break
            else:
                t=t-z
                NN[x]=z
                del EM[x]

    
    #The possible 1, 2, 3 or 4 workers remaining upon division of TotalNumWorkers by 5, are all put into one of the two shifts 
    # with lowest total commute: NN. Although putting them into EM may yeild a lower total commute for this small sum of workers, 
    # we stick to NN for each of the 4 functions representing a different scheduling phrase because they each have an NN shift and
    # keeping this uniform for all 4 functions is useful as our objective is to determine which schedule function yields the 
    # lowest total commute time for the workforce. At the end, once a function is deemed the winner, an adjustment could be made
    # for these 1-4 possible workers if there is a shift EM. As these are at most 4 workers, this time difference is a tiny 
    # fraction of the total commute time of the workforce.
    
    neighborhood_List[TotalNumWorkers:]
    
    for i in neighborhood_List[TotalNumWorkers:]:
        if i in NN.keys():
            NN[i] = NN[i] + 1
        else:
            NN[i] = 1

   
    # Working now from the top of uppdJD which is sorted so as to be increasing in value of DIFFMtoP, we assign the workers 
    # in districts indicated in columns 0 and 1 the shift that has the highest values for total commute time: MP.
    #(In all but 4 out of the 35 districts, the total commute time is largest, bigger than that of PN and MM.) 
    # Next, as we move down uppdJD we fill workers into PN. PN has a higher total commute value than MM in all but 4 districts.
    # Continuing to move down uppdJD, we assign the remaining workers to MM.


    PN={}
    MP={}
    i=0
    l=0
    k=0
    count=0
    while count<1/5*TotalNumWorkers and i in range(0,j+1):
        a = uppdJD.iloc[i,0]
        b = uppdJD.iloc[i,1]
        count= a + count
        if count>1/5*TotalNumWorkers:
            l= count-1/5*TotalNumWorkers
            m=uppdJD.iloc[i,0]-l
            MP[b]=m
            PN[b]=l
        else:
            PN[b]=a

        i = i + 1


    MM={}
    k=i
    count=0
    while count in range(0,int(1/5*TotalNumWorkers)-int(l)) and k in range(i,j+1):
        a = uppdJD.iloc[k,0]
        b = uppdJD.iloc[k,1]
        count = a + count
        if count> 1/5*TotalNumWorkers-l:
            r= count-(1/5*TotalNumWorkers-l)
            s= uppdJD.iloc[k,0]-r
            PN[b]=s
            MM[b]=r
        else:
            PN[b]=a

        k = k + 1


    h=k
    count=2/5*TotalNumWorkers
    u=int(2/5*TotalNumWorkers)
    v=int(3/5*TotalNumWorkers)
    while count in range(u,v) and h in range(k,j+1):
        a = uppdJD.iloc[h,0]
        b = uppdJD.iloc[h,1]
        MM[b]=a
        count = a + count 

        h = h + 1


    TotCommEM=[]
    for i in EM.keys():
        w=dJD.loc[i,"EtoM"]
        y=EM[i]
        m= y*w
        TotCommEM.append(m)

    
    SumEM=sum(TotCommEM)
    

    TotCommPN=[]
    for i in PN.keys():
        w=dJD.loc[i,"PtoN"]
        y=PN[i]
        m=y*w
        TotCommPN.append(m)
    
    SumPN=sum(TotCommPN)
    

    TotCommMM=[]
    for i in MM.keys():
        w=dJD.loc[i,"MtoM"]
        y=MM[i]
        m=y*w
        TotCommMM.append(m)
    
    SumMM=sum(TotCommMM)
    
    TotCommMP=[]
    for i in MP.keys():
        w=dJD.loc[i,"MtoP"]
        y=MP[i]
        m=y*w
        TotCommMP.append(m)
    
    SumMP=sum(TotCommMP)
    
    TotCommNN=[]
    for i in NN.keys():
        w=dJD.loc[i,"NtoN"]
        y=NN[i]
        m=y*w
        TotCommNN.append(m)
    
    SumNN=sum(TotCommNN)
    
    SumEMMPN_MMPNN = SumEM + SumPN + SumMM + SumMP + SumNN
    return SumEMMPN_MMPNN, EM,0,MP,0,0,NN,0,MM,PN

In [46]:
def emmpn_ampnn(WorkerDistrictID):
    
    Remainder = len(WorkerDistrictID) % 5
    TotalNumWorkers = len(WorkerDistrictID) - Remainder
    
    np.random.choice(WorkerDistrictID, len(WorkerDistrictID), replace=False)
    
    np.random.seed(10)
    neighborhood_List = np.random.choice(WorkerDistrictID, len(WorkerDistrictID), replace=False)
    
    
    Neighborhoodlist = neighborhood_List[0:TotalNumWorkers]
    

    
    
    NeighborhoodSeries = pd.Series(Neighborhoodlist)
    dJD = EMMPN_AMPNN.copy()
    dJD.insert(0,'NumWorkers', NeighborhoodSeries.value_counts())
    dJD=dJD.fillna(0)
    
    
    #We will first fill up the two shifts of EMMPN_AMPNN that have the lowest total commute time, EA and NN, with workers
    #in the districts that take the greatest values during these shifts, i.e. districts with the greatest values of DIFFMtoP.
    #That is, we will count out starting from the bottom of EMMPN_AMPNN, 2/5*TotalNumWorkers who we will assign to EM and NN 
    #in the manner indicated below.

    

    j,b,d = g(2/5,dJD,TotalNumWorkers)
    
    #In counting 2/5*TotalNumWorkers workers starting from the bottom of EMMPN_AMPNN and working upwards, sometimes the number 
    # 2/5*TotalNumWorkers may include some of the workers in the last district counted but not all of the workers in that district.
    # So that some of the workers in the last district considered are in the 2/5*TotalNumWorkers and therefore to be assigned
    #to EA or NN and the remainder of workers in that district will be assigned to the other three shifts.
    # 'b' denotes the number of workers in that last district that are counted in 2/5*TotalNumWorkers, and 'd' denotes the 
    # number of workers remaining in that last district that are not counted in 2/5*TotalNumWorkers. 'b+d' is the sum of the 
    # workers in that last district reached in counting 2/5*TotalNumWorkers.
    # The data frame EMMPN_AMPNN is broken up into two data frames: Low2 contains the 2/5*TotalNumWorkers workers who will be 
    # assigned shifts EA and NN; uppdJD wil contain the 3/5*TotalNumWorkers left which will include the d workers descrribed
    # above.
    

    
    
    

    



    ddJD= dJD[j:35]
    ddJD.copy()
    
    
    Low2= ddJD[['NumWorkers','District', 'EtoA', 'NtoN', 'DIFFMtoP']]
    Low2=Low2.copy()
    
    
    if b>0:
        Low2.iloc[0,0]= b
    else:
        Low2.iloc[0,0]=dJD.iloc[j,0]



    uppdJD= dJD[0:j+1]
    uppdJD=uppdJD.copy()
    

    uppdJD.iloc[j,0]= d

    NN={}
    EA={}

    for i in range(0,len(Low2)):
        a=Low2.iloc[i,1]
        b=Low2.iloc[i,0]
        if Low2.iloc[i,2]<Low2.iloc[i,3]:
            EA[a]=b

        else: 
            NN[a]=b


        i = i + 1
    
    DiffNtoNEtoA= Low2['NtoN']-Low2['EtoA']
    DiffNtoNEtoA[list(EA.keys())].sort_values()

    DiffEtoANtoN= Low2['EtoA']-Low2['NtoN']
    DiffEtoANtoN[list(NN.keys())].sort_values()

    EAnearNN=DiffEtoANtoN[list(NN.keys())].sort_values()
    NNnearEA=DiffNtoNEtoA[list(EA.keys())].sort_values()
    

    r= 1/5*TotalNumWorkers-sum(EA.values())
    y= sum(NN.values())-1/5*TotalNumWorkers
    if r>0 and y>0:

        for i in range(0,len(EAnearNN)):
            x=EAnearNN.index[i]
            z=NN[x]
            w=y-z
            if w<0:

                NN[x]=z-y
                EA[x]=y
                break
            else:
                y=y-z
                EA[x]=z
                del NN[x]

    elif r<0 and y<0:
        t=-y
        for i in range(0,len(NNnearEA)):
            x=NNnearEA.index[i]
            z= EA[x]
            w= t-z
            if w<0:

                EA[x]=z-t
                NN[x]=t
                break
            else:
                t=t-z
                NN[x]=z
                del EA[x]

    
    #The possible 1, 2, 3 or 4 workers remaining upon division of TotalNumWorkers by 5, are all put into one of the two shifts 
    # with lowest total commute: NN. Although putting them into EM may yeild a lower total commute for this small sum of workers, 
    # we stick to NN for each of the 4 functions representing a different scheduling phrase because they each have an NN shift and
    # keeping this uniform for all 4 functions is useful as our objective is to determine which schedule function yields the 
    # lowest total commute time for the workforce. At the end, once a function is deemed the winner, an adjustment could be made
    # for these 1-4 possible workers if there is a shift EM. As these are at most 4 workers, this time difference is a tiny 
    # fraction of the total commute time of the workforce.
    
    
    
    
    for i in neighborhood_List[TotalNumWorkers:]:
        if i in NN.keys():
            NN[i] = NN[i] + 1
        else:
            NN[i] = 1
            
    
    # Working now from the top of uppdJD which is sorted so as to be increasing in value of DIFFMtoP, we assign the workers 
    # in districts indicated in columns 0 and 1 the shift that has the highest values for total commute time: MP.
    #(In all but 4 out of the 35 districts, the total commute time is largest, bigger than that of PN and MM.) 
    # Next, as we move down uppdJD we fill workers into PN. PN has a higher total commute value than MM in all but 4 districts.
    # Continuing to move down uppdJD, we assign the remaining workers to MM.

    


    MM={}
    MP={}
    i=0
    l=0
    k=0
    count=0
    while count<1/5*TotalNumWorkers and i in range(0,j+1):
        a = uppdJD.iloc[i,0]
        b = uppdJD.iloc[i,1]
        count= a + count
        if count>1/5*TotalNumWorkers:
            l= count-1/5*TotalNumWorkers
            m=uppdJD.iloc[i,0]-l
            MP[b]=m
            MM[b]=l
        else:
            MP[b]=a

        i = i + 1


    PN={}
    k=i
    count=0
    while count in range(0,int(1/5*TotalNumWorkers)-int(l)) and k in range(i,j+1):
        a = uppdJD.iloc[k,0]
        b = uppdJD.iloc[k,1]
        count = a + count
        if count> 1/5*TotalNumWorkers-l:
            r= count-(1/5*TotalNumWorkers-l)
            s= uppdJD.iloc[k,0]-r
            MM[b]=s
            PN[b]=r
        else:
            MM[b]=a

        k = k + 1


    h=k
    count=2/5*TotalNumWorkers
    u=int(2/5*TotalNumWorkers)
    v=int(3/5*TotalNumWorkers)
    while count in range(u,v) and h in range(k,j+1):
        a = uppdJD.iloc[h,0]
        b = uppdJD.iloc[h,1]
        PN[b]=a
        count = a + count 

        h = h + 1


    TotCommEA=[]
    for i in EA.keys():
        w=dJD.loc[i,"EtoA"]
        y=EA[i]
        m= y*w
        TotCommEA.append(m)

    
    SumEA=sum(TotCommEA)
    

    TotCommPN=[]
    for i in PN.keys():
        w=dJD.loc[i,"PtoN"]
        y=PN[i]
        m=y*w
        TotCommPN.append(m)
    
    SumPN=sum(TotCommPN)
    

    TotCommMM=[]
    for i in MM.keys():
        w=dJD.loc[i,"MtoM"]
        y=MM[i]
        m=y*w
        TotCommMM.append(m)
    
    SumMM=sum(TotCommMM)
    
    TotCommMP=[]
    for i in MP.keys():
        w=dJD.loc[i,"MtoP"]
        y=MP[i]
        m=y*w
        TotCommMP.append(m)
    
    SumMP=sum(TotCommMP)
    
    TotCommNN=[]
    for i in NN.keys():
        w=dJD.loc[i,"NtoN"]
        y=NN[i]
        m=y*w
        TotCommNN.append(m)
    
    SumNN=sum(TotCommNN)
    
    SumEMMPN_AMPNN = SumEA + SumPN + SumMM + SumMP + SumNN
    return SumEMMPN_AMPNN, 0,0,MP,0,0,NN,EA,MM,PN

In [47]:
        
        def Assign(Phrase,WorkerDistrictID):
    
            Remainder = len(WorkerDistrictID) % 5
            TotalNumWorkers = len(WorkerDistrictID) - Remainder

            np.random.choice(WorkerDistrictID, len(WorkerDistrictID), replace=False)

            np.random.seed(10)
            neighborhood_List = np.random.choice(WorkerDistrictID, len(WorkerDistrictID), replace=False)
           


            dF= dJ.reindex(neighborhood_List)
           

            column_names= dF.columns
            


            dF.insert(0,"workerid",range(len(WorkerDistrictID)))
            dF1= dF.sort_values(by=['District','workerid'])

            SorteddF1 = dF1[['District', 'workerid']]
            SorteddF1 = SorteddF1.reset_index(drop=True)
            dFGroup= SorteddF1.groupby("District").agg(list)
            


            TotalCommuteTime, EM, AM, MP,MPfrac, MN, NN, EA, MM, PN = Phrase(WorkerDistrictID)


            Sch={}
            for i in dFGroup.index:
                w=dFGroup.loc[i,"workerid"]

                if EM!=0 and i in EM.keys():
                    z=int(EM[i])

                    if len(w)==z:
                        for y in w:
                            Sch[y]="EtoM"

                    else:
                        for y in w[0:z]:
                            Sch[y]="EtoM"
                  
                    w=w[z: ] 

                if AM!=0 and i in AM.keys():
                    z=int(AM[i])
                    if len(w)==z:
                        for y in w:
                            Sch[y]="AtoM"

                    else:
                        for y in w[0:z]:
                            Sch[y]="AtoM"
                    w=w[z: ]

                if MP!=0 and i in MP.keys():
                    z=int(MP[i])
                    if len(w)==z:
                        for y in w:
                            Sch[y]="MtoP"

                    else:
                        for y in w[0:z]:
                            Sch[y]="MtoP"
                    w=w[z: ]
                    
                if MPfrac!=0 and i in MPfrac.keys():
                    z=int(MPfrac[i])
                    if len(w)==z:
                        for y in w:
                            Sch[y]="MtoPfrac"

                    else:
                        for y in w[0:z]:
                            Sch[y]="MtoPfrac"
                    w=w[z: ]    
                    

                if MN!=0 and i in MN.keys():
                    z=int(MN[i])
                    if len(w)==z:
                        for y in w:
                            Sch[y]="MtoN"

                    else:
                        for y in w[0:z]:
                            Sch[y]="MtoN"
                    w=w[z: ]

                if NN!=0 and i in NN.keys():
                    z=int(NN[i])
                    if len(w)==z:
                        for y in w:
                            Sch[y]="NtoN"

                    else:
                        for y in w[0:z]:
                            Sch[y]="NtoN"
                    w=w[z: ]

                if EA!=0 and i in EA.keys():
                    z=int(EA[i])
                    if len(w)==z:
                        for y in w:
                            Sch[y]="EtoA"

                    else:
                        for y in w[0:z]:
                            Sch[y]="EtoA"

                if MM!=0 and i in MM.keys():
                    z=int(MM[i])
                    if len(w)==z:
                        for y in w:
                            Sch[y]="MtoM"

                    else:
                        for y in w[0:z]:
                            Sch[y]="MtoM"

                if PN!=0 and i in PN.keys():
                    z=int(PN[i])
                    if len(w)==z:
                        for y in w:
                            Sch[y]="PtoN"

                    else:
                        for y in w[0:z]:
                            Sch[y]="PtoN"



            return pd.Series(Sch)

In [48]:
def result(WorkerDistrictID):
    Commutetime = {}
    Actualtimes ={}
    Commutetime[eammn_mmpnn] = eammn_mmpnn(WorkerDistrictID)[0]
    Commutetime[eammn_ammnn] = eammn_ammnn(WorkerDistrictID)[0]
    Commutetime[emmpn_mmpnn] = emmpn_mmpnn(WorkerDistrictID)[0]
    Commutetime[emmpn_ampnn] = emmpn_ampnn(WorkerDistrictID)[0]
    
  

    
    Actualtimes[eammn_mmpnn] ={'EtoM':'6am-10am or 7am-10am','AtoM':'10am-1pm','MtoP':'1pm-4pm','MtoN':'4pm-8pm','NtoN':'8pm-11pm'}
    Actualtimes[eammn_ammnn] ={'EtoA': '6am-9am', 'AtoM': '9am-12noon', 'MtoM': '12noon-3pm','MtoN': '3pm-8pm', 'NtoN':'8pm-11pm'}
    Actualtimes[emmpn_mmpnn] ={'EtoM': '6am-11am or 7am-11am', 'MtoM':'11am-2pm','MtoP': '2pm-5pm', 'PtoN':'5pm-8pm','NtoN':'8pm-11pm'}
    Actualtimes[emmpn_ampnn] ={'EtoA': '6am-9am','MtoM':'11am-2pm', 'MtoP': '2pm-5pm', 'PtoN':'5pm-8pm', 'NtoN': '8pm-11pm'}
                     
    
    x = min(Commutetime,key=Commutetime.get)
    print(Commutetime)
    print(Actualtimes[x])
    return  Assign(x,WorkerDistrictID).sort_index()

In [49]:

np.random.seed(10)
x=np.random.choice(34,504)
pd.set_option("display.max_rows",None)
result(x)

{<function eammn_mmpnn at 0x000001D82F662550>: 1168820.0, <function eammn_ammnn at 0x000001D82F615670>: 1129295.0, <function emmpn_mmpnn at 0x000001D82F615700>: 1148890.0, <function emmpn_ampnn at 0x000001D82F6DD310>: 1160896.0}
{'EtoA': '6am-9am', 'AtoM': '9am-12noon', 'MtoM': '12noon-3pm', 'MtoN': '3pm-8pm', 'NtoN': '8pm-11pm'}

0      MtoM
1      MtoN
2      MtoN
3      MtoN
4      MtoM
5      MtoM
6      MtoN
7      AtoM
8      EtoA
9      MtoN
10     MtoN
11     MtoM
12     AtoM
13     AtoM
14     EtoA
15     MtoN
16     MtoN
17     EtoA
18     AtoM
19     MtoN
20     MtoN
21     MtoN
22     AtoM
23     MtoN
24     MtoN
25     AtoM
26     MtoN
27     NtoN
28     EtoA
29     MtoM
30     MtoM
31     MtoN
32     MtoN
33     MtoM
34     AtoM
35     NtoN
36     MtoN
37     MtoM
38     MtoN
39     EtoA
40     MtoM
41     MtoM
42     EtoA
43     MtoN
44     AtoM
45     AtoM
46     MtoN
47     MtoN
48     AtoM
49     AtoM
50     AtoM
51     MtoM
52     MtoN
53     EtoA
54     EtoA
55     MtoM
56     MtoN
57     AtoM
58     EtoA
59     MtoN
60     EtoA
61     MtoM
62     AtoM
63     EtoA
64     MtoN
65     AtoM
66     MtoN
67     AtoM
68     EtoA
69     MtoN
70     MtoN
71     EtoA
72     MtoN
73     MtoN
74     AtoM
75     EtoA
76     AtoM
77     MtoM
78     MtoM
79     MtoM
80     MtoN
81     AtoM
82     MtoN
83     MtoN
84     EtoA
85     MtoN
86     MtoM
87     MtoN
88     MtoN
89     MtoM
90     MtoN
91     MtoM
92     AtoM
93     EtoA
94     MtoM
95     EtoA
96     AtoM
97     EtoA
98     MtoN
99     EtoA
100    EtoA
101    MtoM
102    MtoN
103    MtoM
104    AtoM
105    EtoA
106    MtoN
107    MtoN
108    MtoN
109    EtoA
110    AtoM
111    AtoM
112    MtoN
113    AtoM
114    MtoM
115    NtoN
116    MtoN
117    MtoN
118    MtoN
119    EtoA
120    MtoN
121    MtoN
122    NtoN
123    MtoN
124    MtoN
125    NtoN
126    AtoM
127    EtoA
128    EtoA
129    EtoA
130    AtoM
131    MtoN
132    EtoA
133    MtoN
134    MtoN
135    MtoM
136    MtoM
137    MtoM
138    MtoM
139    MtoN
140    MtoN
141    EtoA
142    MtoN
143    MtoN
144    MtoN
145    AtoM
146    MtoM
147    MtoN
148    AtoM
149    MtoN
150    EtoA
151    MtoN
152    NtoN
153    MtoN
154    MtoM
155    EtoA
156    AtoM
157    MtoN
158    MtoM
159    NtoN
160    EtoA
161    MtoN
162    MtoN
163    MtoN
164    MtoN
165    MtoN
166    AtoM
167    MtoN
168    MtoN
169    MtoN
170    MtoN
171    MtoM
172    EtoA
173    MtoN
174    EtoA
175    MtoN
176    MtoM
177    MtoN
178    AtoM
179    AtoM
180    EtoA
181    AtoM
182    EtoA
183    MtoN
184    MtoM
185    MtoN
186    EtoA
187    AtoM
188    MtoN
189    MtoN
190    AtoM
191    EtoA
192    MtoM
193    MtoN
194    AtoM
195    MtoN
196    MtoN
197    MtoN
198    AtoM
199    EtoA
200    AtoM
201    MtoM
202    AtoM
203    AtoM
204    MtoN
205    NtoN
206    EtoA
207    AtoM
208    AtoM
209    MtoM
210    EtoA
211    MtoM
212    AtoM
213    MtoN
214    MtoM
215    EtoA
216    MtoN
217    MtoM
218    MtoN
219    MtoM
220    MtoN
221    MtoM
222    MtoN
223    MtoM
224    EtoA
225    AtoM
226    MtoN
227    MtoN
228    MtoN
229    AtoM
230    AtoM
231    AtoM
232    MtoN
233    MtoM
234    MtoM
235    MtoN
236    MtoM
237    AtoM
238    MtoN
239    MtoN
240    MtoM
241    AtoM
242    MtoM
243    MtoN
244    AtoM
245    EtoA
246    EtoA
247    MtoN
248    MtoM
249    MtoN
250    MtoN
251    EtoA
252    MtoM
253    MtoM
254    MtoN
255    AtoM
256    EtoA
257    MtoN
258    MtoM
259    MtoN
260    MtoM
261    NtoN
262    MtoN
263    MtoN
264    EtoA
265    MtoM
266    EtoA
267    MtoN
268    EtoA
269    MtoN
270    AtoM
271    MtoM
272    MtoM
273    MtoM
274    MtoN
275    AtoM
276    NtoN
277    MtoN
278    EtoA
279    EtoA
280    AtoM
281    MtoN
282    MtoN
283    MtoN
284    MtoN
285    AtoM
286    MtoM
287    EtoA
288    MtoN
289    MtoN
290    MtoN
291    EtoA
292    AtoM
293    MtoN
294    MtoM
295    MtoN
296    EtoA
297    MtoN
298    AtoM
299    MtoN
300    AtoM
301    AtoM
302    MtoN
303    MtoM
304    MtoN
305    MtoN
306    MtoN
307    MtoN
308    MtoN
309    AtoM
310    MtoM
311    MtoM
312    AtoM
313    EtoA
314    EtoA
315    AtoM
316    EtoA
317    EtoA
318    AtoM
319    EtoA
320    MtoN
321    MtoN
322    MtoM
323    AtoM
324    MtoM
325    MtoN
326    MtoN
327    EtoA
328    AtoM
329    EtoA
330    EtoA
331    MtoN
332    AtoM
333    AtoM
334    EtoA
335    MtoM
336    AtoM
337    MtoM
338    EtoA
339    EtoA
340    MtoN
341    MtoM
342    MtoN
343    MtoN
344    AtoM
345    MtoM
346    MtoN
347    EtoA
348    AtoM
349    MtoM
350    EtoA
351    MtoN
352    AtoM
353    AtoM
354    EtoA
355    MtoM
356    MtoN
357    AtoM
358    MtoM
359    MtoM
360    AtoM
361    AtoM
362    MtoM
363    NtoN
364    AtoM
365    MtoN
366    AtoM
367    MtoM
368    MtoM
369    AtoM
370    MtoN
371    MtoN
372    MtoM
373    MtoM
374    MtoN
375    EtoA
376    MtoM
377    AtoM
378    EtoA
379    MtoN
380    MtoN
381    MtoN
382    AtoM
383    MtoN
384    AtoM
385    MtoN
386    MtoM
387    AtoM
388    MtoN
389    MtoN
390    MtoN
391    MtoN
392    MtoN
393    MtoM
394    EtoA
395    AtoM
396    EtoA
397    MtoN
398    AtoM
399    MtoN
400    MtoM
401    MtoN
402    MtoM
403    AtoM
404    MtoN
405    AtoM
406    AtoM
407    EtoA
408    MtoN
409    AtoM
410    NtoN
411    MtoM
412    EtoA
413    EtoA
414    MtoM
415    MtoN
416    MtoM
417    MtoM
418    MtoN
419    AtoM
420    EtoA
421    MtoM
422    MtoN
423    MtoN
424    AtoM
425    EtoA
426    MtoN
427    MtoN
428    MtoN
429    MtoN
430    EtoA
431    AtoM
432    MtoN
433    AtoM
434    EtoA
435    MtoN
436    MtoM
437    EtoA
438    MtoN
439    MtoN
440    EtoA
441    MtoN
442    EtoA
443    MtoN
444    MtoN
445    MtoM
446    AtoM
447    MtoN
448    EtoA
449    EtoA
450    AtoM
451    EtoA
452    MtoN
453    MtoM
454    EtoA
455    MtoM
456    NtoN
457    EtoA
458    AtoM
459    MtoN
460    NtoN
461    MtoN
462    EtoA
463    MtoN
464    EtoA
465    MtoN
466    MtoM
467    MtoN
468    EtoA
469    MtoM
470    EtoA
471    MtoM
472    MtoN
473    MtoM
474    EtoA
475    MtoN
476    EtoA
477    MtoN
478    MtoN
479    MtoN
480    MtoN
481    MtoN
482    AtoM
483    AtoM
484    MtoN
485    EtoA
486    AtoM
487    EtoA
488    EtoA
489    EtoA
490    MtoN
491    EtoA
492    EtoA
493    MtoM
494    MtoM
495    MtoM
496    MtoM
497    MtoN
498    AtoM
499    EtoA
500    MtoM
501    NtoN
502    NtoN
503    MtoM
dtype: object